<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label col="0" class="fas" text="&#xf060;" (tap)="onBackTap()"></Label>
    <Label col="1" class="action-bar-title" text="الأصناف"></Label>
  </GridLayout>
</ActionBar>

<GridLayout>
  <StackLayout [formGroup]="categoryForm" paddingRight="10">
    <TextField
      textAlignment="right"
      formControlName="id"
      visibility="hidden"
      height="0"
    ></TextField>
    <label text="الصنف"></label>
    <TextField formControlName="name"></TextField>
    <StackLayout orientation="horizontal">
      <button
        horizontalAlignment="left"
        width="33%"
        backgroundColor="#F1F8E9"
        (tap)="cancel()"
        text="إلغاء"
      ></button>
      <button
        horizontalAlignment="right"
        width="33%"
        backgroundColor="#006968"
        color="#ffffff"
        (tap)="save()"
        text="حفظ"
        [isEnabled]="categoryForm.valid"
      ></button>
    </StackLayout>
  </StackLayout>
</GridLayout>
