<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header">
      <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image>
      <Label class="nt-drawer__header-brand" text="البركة للحبوب والأعلاف"></Label>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Label col="0" text="&#xf015;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="المنتجات" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/sell')"
          (tap)="onNavItemTap('/sell')"
        >
          <Label col="0" text="&#xf07a;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="عمليات البيع" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/purchase')"
          (tap)="onNavItemTap('/purchase')"
        >
          <Label col="0" text="&#xf0d1;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="عمليات الشراء" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/category')"
          (tap)="onNavItemTap('/category')"
        >
          <Label col="0" text="&#xf5fd;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="الأصناف" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/user')"
          (tap)="onNavItemTap('/user')"
        >
          <Label col="0" text="&#xf007;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="العملاء والموردين" class="p-r-10"></Label>
        </GridLayout>
        
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/sandoq')"
          (tap)="onNavItemTap('/sandoq')"
        >
          <Label col="0" text="&#xf49e;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="الصندوق" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/reports')"
          (tap)="onNavItemTap('/reports')"
        >
          <Label col="0" text="&#xf328;" class="nt-icon fas" textAlignment="center"></Label>
          <Label col="1" text="تقارير الأرباح" class="p-r-10"></Label>
        </GridLayout>

        <StackLayout class="hr"></StackLayout>

      </StackLayout>
    </ScrollView>
  </GridLayout>

  <GridLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </GridLayout>
</RadSideDrawer>
